

@mixin largo ($largo) {
    width: $largo;
}


.listas{
    background-image: url(./img/lavabackground3.png);
    background-size: 100%;
}

.text1{
    text-align: center;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;
    color: #1D1C40;
 }



.kali{
   @include largo(300px);
    &:hover{
        transform: scale(2);
        transition: all 2s;
    }
}


.cuco{
    border-radius: 90%;
    &:hover{
        transform: scale(2);
        transition: all 2s;
    }
}

.billie{
    @include largo(300px);
    border-radius: 90%;
    &:hover{
        transform: scale(2);
        transition: all 2s;
    }
}

.daft{
    @include largo(300px);
    border-radius: 90%;
    &:hover{
        transform: scale(2);
        transition: all 2s;
    }
}

.doja{
    @include largo(300px);
    border-radius: 90%;
    &:hover{
        transform: scale(2);
        transition: all 2s
    }
}

.melanie{
    @include largo(300px);
    border-radius: 90%;
    &:hover{
        transform: scale(2);
        transition: all 2s; 
    }
}

.travis{
    border-radius: 90%;
    &:hover{
        transform:scale(2) ;
        transition: all 2s;
    }
}

.kanye{
    border-radius: 90%;
    &:hover{
        transform: scale(2);
        transition: all 2s;
    }
}