@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.index{
    background-image: url(./img/LAVAbackgorund.png);
    background-size: 100%;
   
}

.nuevo{
    text-align: center;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif; 
    
}

.portada{
    text-align: center;
}

.nombre{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
}




             /*listas*/

.text1{
   text-align: center;
   margin-top: 30px;
   font-family: 'Oswald', sans-serif; 
   font-size: 20px;
   color: #1D1C40;
}

.listas{
    background-image: url(./img/lavabackground3.png);
    background-size: 100%;
}



.kali{
    width: 300px;
    border-radius: 90%;
}
.cuco{
    border-radius: 90%;
}
.kanye{
    border-radius: 90%;
}
.daft{
    width: 300px;
    border-radius: 90%;
}
.playlist{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.travis{
    border-radius: 90%;
}
.doja{
    width: 300px;
    border-radius: 90%;
}
.billie{
    width: 300px;
    border-radius: 90%;
}
.melanie{
    width: 300px;
    border-radius: 90%;
}
.playlist2{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}


.billie:hover{
    transform: scale(2);
    transition: all 2s;
}
.melanie:hover{
    transform: scale(2);
    transition: all 2s;
}
.daft:hover{
    transform: scale(2);
    transition: all 2s;
}
.doja:hover{
    transform: scale(2);
    transition: all 2s
}
.travis:hover{
    transform:scale(2) ;
    transition: all 2s;
}
.cuco:hover{
    transform: scale(2);
    transition: all 2s;
}
.kali:hover{
    transform: scale(2);
    transition: all 2s;
}
.kanye:hover{
    transform: scale(2);
    transition: all 2s;
}


/*descubre*/

.descubre{
    background-image: url(/img/LAVAbackgorund2.png);
    background-size: 100%;
}
.main-h1{
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;

}
.card{
    margin-top: 40px;
}













/*perfil*/

.perfil{
    background-image: url(./img/LAVAbackgorund5.png);
    background-size: 100%;
}
.datos{
    margin-top: 30px;
}





/*comunidad*/

.comunidad{
    background-image: url(./img/LAVAbackgorund4.png);
    background-size: 100%;
}
.jojo{
    border-radius: 90%;
    width: 200px;
    margin-top: 30px;
}
.texto{
    
    width: 500px;
    height: 200px;
}