@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.index{
    background-image: url(./img/LAVAbackgorund.png);
    background-size: 100%;
   
}

.nuevo{
    text-align: center;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif; 
    
}

.portada{
    text-align: center;
}

.nombre{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
}




             /*listas*/

.text1{
   text-align: center;
   margin-top: 30px;
   font-family: 'Oswald', sans-serif; 
   font-size: 20px;
   color: #F25E5E;
}
.listas{
    background-color: #F2A0DC;
}
.artistas-nav{
    color: #F25E5E;
}
.artistas-table{
    width: 100%;
    border:solid 2px black
}
.mas{
    color: #F25E5E ;
}
.side{
    text-align: center;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif; 
}
.main-footer{
    margin-top: 30px;
    background-color: white;
}




.kali{
    width: 300px;
    border-radius: 90%;
}
.cuco{
    border-radius: 90%;
}
.kanye{
    border-radius: 90%;
}
.daft{
    width: 300px;
    border-radius: 90%;
}
.playlist{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.travis{
    border-radius: 90%;
}
.doja{
    width: 300px;
    border-radius: 90%;
}
.billie{
    width: 300px;
    border-radius: 90%;
}
.melanie{
    width: 300px;
    border-radius: 90%;
}
.playlist2{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}



/*descubre*/

.descubre{
    background-image: url(/img/LAVAbackgorund2.png);
    background-size: 100%;
}
.main-h1{
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;

}
.card{
    margin-top: 40px;
}

footer{
    padding-top: 30px;
}











/*perfil*/

.perfil-color{
    background-color:#F2A03D ;
}
.jojos{
    border-radius: 90px;
    width:200px ;
    margin-top: 30px;
}
.after{
    border-radius: 90%;
    width: 200px;
}
.datos{
    text-align: center;
}
.alejandro{
    font-family: 'Oswald', sans-serif
}
.contenido{
    text-align: center;
    margin-top: 20px;
}
.arti-fav{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 50px;
}
.losstrokes{
    width: 200px;
    border-radius: 90%;
}
.cancion-fav{
    text-align: center;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
}







/*comunidad*/

.todo{
    background-color: #558ED9;
}

.ta1, .ta2, .ta3{
    border-radius: 90%;
    width: 200px;
}

.chat1, .chat2, .chat3{
    text-align: center;
    margin-top: 120px;
}
.main-footer{
    margin-top: 20%;
}